@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Pacifico&display=swap');
.mainBox{
    margin: 0rem 3rem;
    padding-bottom: 3rem;
    margin-bottom: 5rem;
}
.para{
    text-align: center;
    justify-content: center;
    /* margin-left: 2rem;  */
    color: aliceblue;
    font-size: 1.2rem;
}
.img{
    height: 100%;
    border-radius: 50%;

    margin-left: 2rem;
}
.intro{
    margin-top: 5rem;
    text-decoration: underline;
}
.imageBox{
    height: 20rem;
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
}
.headingBox{
    height: auto;
    margin: auto;
}
.head{
    color:rgb(12, 232, 232);
    text-decoration: underline;
    margin-bottom: 2rem;
    font-size: 3rem;
    font-family: 'Caveat', cursive;
}
