@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Pacifico&display=swap');
.contact{
    color: white;
    font-family: 'Caveat', cursive;
    font-size: 3rem;
    text-decoration: underline;
}
.mainBox{
    padding: 1.5rem;
    margin-top: 4rem;
}
