.label{
    color: white;
    font-weight: 500;
    font-size: 1.4rem;
}
.formBox{
    display: flex;
    gap:3rem;
    padding-top: 1rem;
    align-items: center;
}
.btn{
    color: white;
    cursor: pointer;
    font-weight: 500;
    background-color:#002;
    margin-left: 4.5rem;
}
.input{
    font-weight: 500;
    height: 2rem;
    width: 15rem;
    border-radius: 5px;
    padding-left: 5px;
}
.textArea{
    height: 4rem;
    width: 13.6rem;
    border-radius: 5px;
    padding-left: 5px;
    padding-top: 2px;
}
.input:focus, .textArea:focus{
    outline: none;
}