.label{
    color: white;
    font-weight: 500;
}
.formBox{
    display: flex;
    gap:3rem;
    padding-top: 1rem;
    align-items: center;
}
.btn{
    color: white;
    cursor: pointer;
    font-weight: 500;
   
}
.input{
    color: #2E5090;
    font-weight: 500;
}
