.mainBox{
    margin: auto;
    padding: 1rem;
    width: 80vw;
    padding-left: 2rem;
    margin-bottom: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background-color:aliceblue;
    border: 2px solid gray;
}
.para{
    font-size: 1.7rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
    color: white;
    text-decoration: underline;
    font-weight: 800;
}
.statsBox{
    margin: auto;
    width:80vw;
}
.stats{
    margin: auto;
    padding: 2rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}