.mainBox{
    padding-top: 5rem;
    margin: 0rem 3rem;
}
.welcome{
   margin-top:  2rem;
   color:white;
   font-size: 4rem;
   line-height: 4rem;
   font-family: 'Caveat', cursive;
}
.img{
    padding-top: 5rem;
    border-radius: 8px;
}
.intro{
    margin-top: 5rem;
    text-decoration: underline;
}
.headingBox{
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
}
.resumeBtn{
    margin-top: 2rem;
    color: white;
    padding: 0.5rem 1.5rem;
    background-color: rgb(29, 0, 34);
    border: 1px solid white;
    border-radius: 5px;
    font-size: larger;
    margin-left: 0.5rem;
    margin-right: auto;
}
.prevBtn{
    margin-top: 2rem;
    color: white;
    padding: 0.5rem 2rem;
    background-color: rgb(29, 0, 34);
    border: 1px solid white;
    border-radius: 5px;
    font-size: larger;
    margin-left: 0.5rem;
    margin-right: auto;
}