@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Pacifico&display=swap');
.main_navbar{
    display: flex;
    gap: 2rem;
    padding: 1rem;
    justify-content: space-evenly;
    background-color: rgb(29, 0, 34);
    ;
    color: #ffff;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    position: fixed;
    margin-bottom: 3rem;
    width: 100%;
}
.nav_box2{
    display: flex;
    gap: 2rem;
    padding: 10px;
    padding-right: 4rem;
    position: relative;
}
.logo{
    font-family: 'Caveat', cursive;
    font-size: 2rem;
    font-weight: 800;
}
 @media (max-width: 998px) {
    .logo{
        display: none;
    }
    .nav_box2{
        display: flex;
        gap: 1rem;
        padding-left: 1rem;
    }
 }

