@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Pacifico&display=swap');
.logo_img_box{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin: 0;
    padding-bottom: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border: 3px solid rgb(130, 126, 126);
}
.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    width: 50%;

}
.head{
    color:rgb(12, 232, 232);
    text-decoration: underline;
    margin-bottom: 2rem;
    font-size: 3rem;
    font-family: 'Caveat', cursive;
}
.grid{
    margin: 0rem 6rem;
}
.para{
    color: white;
    font-size: 1.5rem;
    text-align: left;
    margin-left: 4rem;
    margin-bottom: 2rem;
}